body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(4, 5, 46);
}
.buttons{
    background-color: rgb(4, 5, 46);
    color: white;  
}